html {
  scroll-behavior: auto;
}

body {
    font-family: poppins, sans-serif;
   }

h2 {
  font-family: "Chelsea Market", system-ui;
}

.logo {
    position: absolute;
    width: 10vw;
    height: 50vh;
    left: 2vw;
    z-index: 1100;
    transition: transform 0.3s ease;
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.9));
}

.logo:hover {
    transform: scale(1.05);
}

.fundo {
    position: absolute;
    top: 0;
    left: 0;    
    background-image: url(interface.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.fundo1 {
    position: absolute;
    top: 0;
    left: 0;     
    background-size: cover;
    background-position: center;    
    z-index: 0;
    width: 100%;
    max-height: 520vh; 
    height: auto; 
    overflow: hidden;
}

.fundo2 {
    position: absolute;
    top: 0;
    left: 0;     
    background-size: cover;
    background-position: center;    
    z-index: 0;
    width: 100%;
    max-height: 583vh; 
    height: auto; 
    overflow: hidden;
}

.fundo3 {
    position: absolute;
    top: 0;
    left: 0;     
    background-size: cover;
    background-position: center;    
    z-index: 0;
    width: 100%;
    max-height: 637vh; 
    height: auto; 
    overflow: hidden;
}

.fundo4 {
    position: absolute;
    top: 0;
    left: 0;     
    background-size: cover;
    background-position: center;    
    z-index: 0;
    width: 100%;
    max-height: 645vh; 
    height: auto; 
    overflow: hidden;
}

.fundo5 {
    position: absolute;
    top: 0;
    left: 0;     
    background-size: cover;
    background-position: center;    
    z-index: 0;
    width: 100%;
    max-height: 693vh; 
    height: auto; 
    overflow: hidden;
}

.fundo6 {
    position: absolute;
    top: 0;
    left: 0;     
    background-size: cover;
    background-position: center;    
    z-index: 0;
    width: 100%;
    max-height: 408vh; 
    height: auto;
    overflow: hidden;
}

.imagem-fundo {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.mobile-fundo {
    display: none; 
}

.conteudo {
    position: relative;
    z-index: 1;
    font-family: poppins, sans-serif;
    color: #05477c;
}

.intro {
    position: absolute;
    top: 30vh;
    left: 9vw;
    width: 80%;
    padding: 2vh;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    text-align: center;
    color: #86072d;
}

.menu {
  position: absolute;
  top: 11vh;
  left: 18vw;
  width: 77%;
  padding: 1vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),
              -2px -2px 6px rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  z-index: 1200;
}

.menu:hover {
  background-color: #fff;
}

.menu nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0;
  position: relative;
}

.hamburguer {
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
  color: #86072d;
  display: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 0;
}

.links > * {
  margin: 0 3.2vw;
  justify-content: center;
}

.links a {
  color: #827dc7;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: bold;
  transition: color 0.3s ease;
}

.links a:hover {
    color: #86072d;
    transform: scaleX(1.08);
}

.ola {
    font-size: 2.8vw;
    color: #86072d;
    position: absolute;
    top: 26vh;
    left: 5vw;
    width: 42vw;
    z-index: 1100;
    text-align: left;
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.cta {
    padding: 1.5vh 3vw;
    border-radius: 25px;
    top: 81vh;
    left: 10vw;
    display: inline-block;
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(135deg, #df517c, #5193be);    
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: none;
    box-shadow: 
            4px 4px 10px rgba(112, 20, 82, 0.6),
            -2px -2px 6px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    z-index: 1100;
}

.cta2 {
    display: inline-block;
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(135deg, #df517c, #5193be);  
    backdrop-filter: blur(8px);  
    -webkit-backdrop-filter: blur(8px);
    border: none;
    box-shadow: 
            4px 4px 10px rgba(112, 20, 82, 0.6),
            -2px -2px 6px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    z-index: 1100;
    padding: 1.5vh 3vw;
    border-radius: 25px;
    top: 88vh;
    left: 10vw;
}

.loja {
    display: inline-block;
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(135deg, #df517c, #5193be);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: none;
    border-radius: 20px;
    box-shadow: 
            4px 4px 10px rgba(112, 20, 82, 0.6),
            -2px -2px 6px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    padding: 1.5vh 3vw;
    border-radius: 25px;
    top: 88vh;
    left: 25vw;
    z-index: 1100;
}

.cta:hover, .cta2:hover, .loja:hover, .menu:hover, .projetinhos:hover, .projetinhos2:hover {
    transform: translateY(-5px);
    box-shadow: 
            6px 6px 12px rgba(112, 20, 82, 0.8),
            -3px -3px 8px rgba(255, 255, 255, 1.1);
}

.bio {
    position: absolute;
    top: 100vh;
    left: 3vw;
    width: 43vw;
    z-index: 1100;
    font-size: 1.3vw;
    color: #86072d;
    text-align: left;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2vh 2vw;
    border-radius: 40px;
}

.foto-bio {
    float: right;
    padding: ;
    margin: 0 0 0 0;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(129, 3, 51, 0.2);     
}

.projetos {
    position: absolute;
    top: 194vh;
    left: 4vw;
    width: 90vw;
    z-index: 1100;
    font-size: 1.3vw;
    color: #86077b;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.2;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1vh 0.5vw;
    border-radius: 40px;
}

.mais-projetos {
    position: absolute;
    top: 310vh;
    left: 20vw;
    width: 50%;
    height: 20vh;
    z-index: 1100;
    line-height: 0.3vh;
    font-size: 1.3vw;
    font-weight: bold;
    color: #05477c;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1vh 3vw;
    border-radius: 40px;
}

.projetinhos {
    position:absolute;
    top: 337vh;
    left: 6vw;
    width: 85%;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1000;
}

.projetinhos2 {
    position:absolute;
    top: 460vh;
    left: 6vw;
    width: 85%;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),
                -2px -2px 6px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1000;
}

.projetinhos3 {
    position:absolute;
    top: 523vh;
    left: 6vw;
    width: 85%;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),
                -2px -2px 6px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1000;
}

.projetinhos4 {
    position:absolute;
    top: 583vh;
    left: 6vw;
    width: 85%;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),
                -2px -2px 6px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1000;
}

.projetinhos5 {
    position:absolute;
    top: 625vh;
    left: 6vw;
    width: 85%;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),
                -2px -2px 6px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1000;
}

.projetinhos6 {
    position:absolute;
    top: 345vh;
    left: 6vw;
    width: 85%;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),
                -2px -2px 6px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1000;
}

.projetinhos nav, .projetinhos2 nav, .projetinhos3 nav, .projetinhos4 nav, .projetinhos5 nav, .projetinhos6 nav {
    display: flex;
    gap: 0.1vw;
    align-items: center;
    justify-content: space-between;
}

.atalhos a {
    margin: 2.3vw;
    color: #05477c;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: bold;
    transition: color 0.3s ease;
}

.carrossel {
  position: relative;
  width: 72vw;
  height: 92vh;
  margin: auto;
  overflow: hidden;
  z-index: 1200;
  top: 211vh;
}

.galeria {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease, transform 1s ease;
  text-align: center;
  pointer-events: none;
}

.slide.ativo {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

button.voltar,
button.avancar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  font-size: 28px;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.voltar { 
  left: 10px; 
}
.avancar { 
  right: 10px; 
}

.final {
    position: absolute;
    top: 365vh;
    left: 43vw;
    width: 43%;
    height: 88vh;
    z-index: 1100;
    line-height: 0.3vh;
    font-size: 1.3vw;
    font-weight: semi-bold;
    color: #05477c;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 3vh 3vw;
    border-radius: 40px;
}

.finalzinho {
    position: absolute;
    top: 467vh;
    left: 43vw;
    width: 28%;
    height: 15vh;
    z-index: 1100;
    line-height: 0.3vh;
    font-size: 1vw;
    font-weight: semi-bold;
    color: #05477c;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 3vh 3vw;
    border-radius: 40px;
    text-decoration: none;
}

.finalzinho2 {
    position: absolute;
    top: 450vh;
    left: 13vw;
    width: 60%;
    height: 24vh;
    z-index: 1100;
    line-height: 0.3vh;
    font-size: 1vw;
    font-weight: semi-bold;
    color: #05477c;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 3vh 3vw;
    border-radius: 40px;
    text-decoration: none;
}

.finalzinho3 {
    position: absolute;
    top: 513vh;
    left: 13vw;
    width: 60%;
    height: 24vh;
    z-index: 1100;
    line-height: 0.3vh;
    font-size: 1vw;
    font-weight: semi-bold;
    color: #05477c;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 3vh 3vw;
    border-radius: 40px;
    text-decoration: none;
}

.finalzinho4 {
    position: absolute;
    top: 570vh;
    left: 13vw;
    width: 60%;
    height: 24vh;
    z-index: 1100;
    line-height: 0.3vh;
    font-size: 1vw;
    font-weight: semi-bold;
    color: #05477c;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 3vh 3vw;
    border-radius: 40px;
    text-decoration: none;
}

.finalzinho5 {
    position: absolute;
    top: 647vh;
    left: 15vw;
    width: 60%;
    height: 24vh;
    z-index: 1100;
    line-height: 0.3vh;
    font-size: 1vw;
    font-weight: semi-bold;
    color: #05477c;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 3vh 3vw;
    border-radius: 40px;
    text-decoration: none;
}

.finalzinho6 {
    position: absolute;
    top: 362vh;
    left: 15vw;
    width: 60%;
    height: 24vh;
    z-index: 1100;
    line-height: 0.3vh;
    font-size: 1vw;
    font-weight: semi-bold;
    color: #05477c;
    text-align: center;
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 3vh 3vw;
    border-radius: 40px;
    text-decoration: none;
}

.final img {
  transition: transform 0.3s ease;
}

.final img:hover {
  transform: scale(1.1);
}

#btn-topo {
    display: none;
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1200;
    padding: 0;    
    animation: flutuar 3s ease-in-out infinite;
}

#btn-topo img {
  width: 44px;
  height: 44px;
  opacity: 0.8;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}


@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

#bio, #projetos, #final {
  scroll-margin-top: 100px;
}

@media (max-width: 768px) {
    
  .body {
    background: rgb(235, 196, 226);
    height: fit-content;
    font-size: clamp(15px, 4vw, 20px);
  }
  
  html, body {
    background: linear-gradient(100deg, #f8cfe4 0%, #b3e0ff 100%) !important;
  }

  .logo {
    width: 20vw;
    height: 30vh;
    left: 2vw;
    top: 7vh;
  }

  .fundo, .fundo1, .fundo2, .fundo3, .fundo4, .fundo5, .fundo6 {
    display: none; 
    }

  .mobile-fundo {
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
  }

  .ola {
    font-size: 5vw; 
    top: 32vh; 
    left: 7vw;
    width: 43vw; 
  }

  .cta, .cta2 {
    padding: 3vh 6vw;
    font-size: 3.7vw; 
    top: 80vh; 
    left: 37vw;
  }

  .loja {
      font-size: 3.7vw; 
      padding: 3vh 6vw; 
      top: 80vh; 
      left: 6vw;
  }

  .bio {
    width: 80vw; 
    font-size: 3.8vw; 
    top: 104vh; 
    left: 6vw;
    text-align: left; 
  }

  .intro {
    top: 30vh; 
    left: 3vw; 
    width: 90%; 
    padding: 3vh 2vw; 
    font-size: 3.5vw; 
    height: relative; 
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vh 0;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    flex-direction: column;
    align-items: center;
    z-index: 1100;
    height: fit-content; 
  }

  .menu nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    z-index: 1100;
  }

  .hamburguer {
    display: block;
    font-size: 8vw;
    margin-bottom: 1vh;
  }

  .links {
    display: none;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
  }

  .links.ativo {
    display: flex; 
  }

  .links a {
    font-size: 16px;
  }

  .projetos {
    width: 80vw; 
    font-size: 3.8vw; 
    top: 175vh; 
    left: 6vw;
    padding: 1.5vh 2vw; 
  }

  .mais-projetos {
    width: 80vw; 
    font-size: 3.7vw; 
    top: 240vh; 
    left: 6vw;
    padding: 2vh 2vw; 
  }

  .projetinhos {
    width: 62vw; 
    font-size: 3.7vw; 
    top: 270vh; 
    left: 15vw;
    padding: 3vh 2vw; 
    height: auto; 
    flex-direction: column; 
    display: flex;
    align-items: center; 
  }  

  .atalhos a {
    font-size: 3.7vw; 
    margin: 2vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 2.3vh; 
    text-align: center; 
  }

  .projetinhos2, .projetinhos3, .projetinhos4, .projetinhos5, .projetinhos6 {
      display: none; 
  }

  .carrossel {
    width: 90vw; 
    height: 40vh; 
    top: 190vh; 
  }

  .galeria {
    height: 100%; 
  }

  .slide {
    height: 100%; 
    transform: scale(1);
  }

  .slide img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  iframe, .iframe {
    width: 80vw; 
    height: 40vh;
    max-width: 100%;
    border: none;
    display: block;
    border-radius: 10px;
 }

  .final {
    width: 80vw; 
    font-size: 3.8vw; 
    top: 305vh; 
    left: 6vw;
    padding: 3.5vh 2vw; 
    height: auto; 
  }

  .finalzinho, .finalzinho2, .finalzinho3, .finalzinho4, .finalzinho5, .finalzinho6 {
    width: 80vw; 
    font-size: 3vw; 
    padding: 3.5vh 2vw; 
    height: auto; 
  }

  .finalzinho {
    top: 410vh; 
    left: 6vw;
    margin-bottom: 1vh;
  }

  .finalzinho2 {
    top: 150vh; 
    left: 3vw;
    margin-bottom: 1vh;
  }

  .finalzinho3 {
    top: 170vh; 
    left: 3vw;
    margin-bottom: 1vh;
  }

  .finalzinho4 {
    top: 190vh; 
    left: 3vw;
    margin-bottom: 1vh;
  }

  .finalzinho5 {
    top: 260vh; 
    left: 5vw;
    margin-bottom: 1vh;
  }

  .finalzinho6 {
    top: 180vh; 
    left: 6vw;
    margin-bottom: 1vh;
  }

  #btn-topo {
    display: block; 
    z-index: 1200; 
  }

  #btn-topo:hover img {
  transform: scale(1.1);
  opacity: 1;
  }

  #btn-topo img {
    width: 50px;
    height: 50px;
  }
}













